@import url("https://use.typekit.net/wwf6sdi.css");

/*! ---- RESET ----*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "commuters-sans";
}

/*! ----- HEADER -----*/

header nav div a img {
    width: 64px;
}

.menu-color {
    background-color: #0e1429;
}

.nav-link {
    color: #ffffff !important;
}

.navbar-toggler {
    border-color: #ffffff;
}

header nav div span {
    color: #ffffff;
}

/*! ----- MAIN -----*/
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, minmax(400px, auto));
    /* Altura flexible */
    align-items: center;
    grid-template-areas:
        "hero hero hero"
        "metodologia metodologia metodologia"
        "valores valores valores"
        "suscripcion suscripcion suscripcion"
    ;
}

.hero {
    background-color: #0e1429;
    color: #ffffff;
    grid-area: hero;
    min-height: 400px;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.content-image {
    max-width: 500px;
}

@media (min-width: 768px) {
    .hero {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 991.98px) {
    /* A partir de pantallas md y menores (es decir, hasta 991.98px), se oculta la imagen */
    .content-image {
        display: none;
    }
}

.row {
    align-items: first baseline;
    justify-content: space-evenly;
}

.hero-text {
    text-align: left;
    /* Alinea el texto a la izquierda */
    margin-left: 30px;
}

.hero h2 {
    text-align: left;
}

.hero p {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
}

.hero a {
    background-color: #1ba7a6;
    text-decoration: none;
    color: #0e1429;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
}

.recursos {
    color: #1ba7a6;
    font-size: 12px;
}

.metodologia {
    grid-area: metodologia;
}

.metodologia h2 {
    text-align: center;
}

.grid-met {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.grid-met div img {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.valores {
    grid-area: valores;
    background-color: #1ba7a6;
    display: flex;
    /* Establece el contenedor como un contenedor flexible */
    flex-direction: column;
    /* Alinea los elementos en una columna */
    align-items: center;
    /* Centra horizontalmente los elementos */
    justify-content: center;
    /* Centra verticalmente los elementos */
    min-height: 400px;
    /* Asegura una altura mínima */
   padding-left: 60px;
   gap: 30px;
}

.valores h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 800;
}

.valores h3 {
    color: #0e1429;
}

.valores p {
    font-size: 14px;
}

.valores div img {
    width: 50px;
}

.abrazar {
    padding-right: 30px;
    padding-right: 30px;
}

.suscripcion {
    grid-area: suscripcion;
    display: flex;
    justify-content: space-evenly;
    /* Distribuye los elementos a ambos lados */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.suscripcion h2 {
    font-size: 38px;
    font-weight: 700;
    color: #1ba7a6;
    text-align: left;
}

.suscripcion h3 {
    color: #0e1429;
    font-size: 18px;
    font-weight: 300;
}


/*! --- FOOTER ----*/
footer {
    background-color: #0e1429;
    width: 100%;
    padding: 20px 0;;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0; 
    margin: 0; 
}

footer ul li a {
    margin-inline: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.footer-img {
    height: 30px;
}

footer i {
    font-size: 25px;
    color: #ffffff;;
}

.decorative-line {
    width: 400px;
    height: 1px; /* Altura de la línea */
    background-color: #ffffff; /* Color de la línea */
    margin: 10px 0; /* Espaciado opcional */
}

.iconos-redes {
    margin-inline: 40px;
}

/* Responsive para dispositivos pequeños */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Ajuste de espacio entre los elementos */
    }

    footer ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .decorative-line {
        width: 100px; /* Reducir el ancho de la línea en dispositivos pequeños */
    }
}

/*? ----- CONTACTO -----*/
.contacto-items {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f8f9fa;
}

.contacto-items h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #0e1429;
}

.contacto-items p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.contacto-items button {
    margin-bottom: 2rem;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

form div {
    margin-bottom: 1.5rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 0.75rem;
    background-color:#1ba7a6 !important;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn-primary {
    --bs-btn-border-color:none !important
}

@media (min-width: 768px) {
    .contacto-items {
        flex-direction: row;
        gap: 3rem;
        text-align: left;
    }

    form {
        width: 80%;
    }
}