/*! --- INDEX ----*/
@media (min-width: 768px) {
    .hero {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 991.98px) {

    /* A partir de pantallas md y menores (es decir, hasta 991.98px), se oculta la imagen */
    .content-image {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .valores {
        p {
            max-width: 450px;
        }
    }
}

.metodologia {
    @media (max-width: 1200px) {
        padding: 50px 0; // Ajusta el padding para pantallas medianas
    }

    @media (max-width: 768px) {
        padding: 40px 0; // Ajusta el padding para tablets o pantallas medianas-pequeñas
    }

    @media (max-width: 576px) {
        padding: 30px 0; // Ajusta el padding para dispositivos móviles
    }
}

.suscripcion {
    @media (max-width: 1200px) {
        padding: 40px 30px; // Ajuste de padding para pantallas medianas
    }

    @media (max-width: 768px) {
        padding: 40px 30px; // Ajuste de padding para pantallas medianas

        .susc-elementos {
            flex-direction: column; // Cambia a columna en pantallas medianas
        }
    }

    @media (max-width: 576px) {
        padding: 30px 30px; // Ajuste de padding para pantallas pequeñas

        .susc-elementos {
            flex-direction: column; // Mantiene el diseño en columna
        }

        h2 {
            font-size: 1.8rem; // Ajuste del tamaño del texto en dispositivos móviles
        }

        h3 {
            font-size: 1.1rem; // Ajuste del tamaño del texto en dispositivos móviles
        }
    }
}

/*! --- EL CURSO ----*/
// Media queries para pantallas pequeñas
@media (max-width: 767px) {
    .curso-presentacion {
        padding: 1rem;
        background-image: none;

        .caos {
            visibility: visible;
            font-size: 38px;
            text-align: center;
            padding-top: 40px;
        }

        .primer-curso {
            font-size: 26px;
            text-align: center;
            padding: 10px;
        }

        .solo {
            padding: 5px;
            margin: 0;
        }

        .quiero-empren {
            font-size: 14px;
            margin: 0 auto;
            margin-top: 20px;

            &:hover {
                background-color: $color-primary;
            }
        }
    }

    .frase {
        padding: 2rem;

        .tu-hora {
            font-size: 28px;
        }
    }
}

// Media queries para pantallas medianas
@media (min-width: 768px) and (max-width: 1024px) {
    .curso-presentacion {
        padding: 1.5rem;

        .caos {
            font-size: 32px;
            padding-top: 80px;
        }

        .primer-curso {
            font-size: 20px;
        }

        .quiero-empren {
            font-size: 15px;

            &:hover {
                background-color: $color-primary;
            }
        }
    }

    .frase {
        padding: 1.5rem;

        .tu-hora {
            font-size: 32px;
        }
    }
}

/*! --- LA PROFE ----*/
.laprofe {
    @media (max-width: 1200px) {}

    @media (max-width: 768px) {
        background-image: none;

    }
}

.presentacion {
    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
        ;
    }
}

.explicacion {
    @media (max-width:1200px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

/*! --- GRATIS ----*/
@media (max-width: 768px) {
    .escucha {
        flex-direction: column;
        padding-right: 40px;
        padding-left: 40px;
        gap: 20px;
    }

    .yt {
        position: relative;
        padding-bottom: 56.25%;
        margin-top: 20px;
        /* Proporción de 16:9 (altura / ancho * 100) */
        height: 0;
        max-width: 100%;

        iframe {
            margin-top: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}
/*! --- CONTACTO ----*/
@media (max-width: 768px){
.contacto-items{
    flex-direction: column;

}
}

/*! --- FOOTER ----*/
@media (max-width: 991.98px) {
    .flex-container {
        flex-direction: column;
        align-items: center;

        div {
            flex-direction: column;
            text-align: center;
        }

        ul {
            flex-direction: column;
            text-align: center;
            gap: 10px;
        }
    }

    .decorative-line {
        width: 100px;
        /* Reducir el ancho de la línea en dispositivos pequeños */
    }
}



/*! --- CONTACTO ----*/
@media (min-width: 768px) {
    .contacto-items {
        flex-direction: row;
        gap: 3rem;
        text-align: left;
    }

    form {
        width: 80%;
    }
}